<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div class="p-6 flex justify-center items-center ">
    <input [(ngModel)]="title" (ngModelChange)="getMovies()" placeholder="Enter movie title" class="p-2 border rounded">

    <select [(ngModel)]="year" (ngModelChange)="getMovies()" class="p-2 border rounded ml-2">
      @for (year of years; track $index)
      {
      <option [value]="year">{{year}}</option>
      }
    </select>
    <select [(ngModel)]="plot" (ngModelChange)="getMovies()" class="p-2 border rounded ml-2">
      <option value="short">Short</option>
      <option value="full">Full</option>
    </select>
  </div>
  <div class="flex flex-wrap justify-center">
    @for(movie of movies; track $index)
    {
    <app-movies *ngFor="let movie of movies" [movie]="movie" class="m-2"></app-movies>
    }
  </div>
</body>

</html>